# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# latex reports
.aux
.toc

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
*.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# data
data/

# Snakemake
snakemake/copy_and_agg/.snakemake
snakemake/copy_and_agg/output_logs

snakemake/lau_disagg/.snakemake
snakemake/lau_disagg/output_logs
snakemake/lau_disagg/bad_proxy_log.json
snakemake/lau_disagg/*.log

snakemake/nuts1_disagg/.snakemake
snakemake/nuts1_disagg/output_logs
snakemake/nuts1_disagg/bad_proxy_log.json
snakemake/nuts1_disagg/*.log

snakemake/nuts2_disagg/.snakemake
snakemake/nuts2_disagg/output_logs
snakemake/nuts2_disagg/bad_proxy_log.json
snakemake/nuts2_disagg/*.log

snakemake/nuts3_disagg/.snakemake
snakemake/nuts3_disagg/output_logs
snakemake/nuts3_disagg/bad_proxy_log.json
snakemake/nuts3_disagg/*.log

snakemake/post_disagg_calculation/.snakemake
snakemake/post_disagg_calculation/output_logs
snakemake/post_disagg_calculation/*.log
